node_modules
server/node_modules
client/node_modules
dist
server/dist
client/dist
.git
.vscode
.env
server/.env
client/.env
.vercel
client/src-tauri
**/node_modules
**/dist
**/.env
**/.git
!client/.env
!server/.env
